services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: INFO
      KAFKA_LOG4J_LOGGERS: "org.apache.zookeeper=INFO"
    networks:
      - nexora-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    #    ports:
    #      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      #      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG4J_ROOT_LOGLEVEL: INFO
      KAFKA_TOOLS_LOG4J_LOGLEVEL: INFO
    volumes:
      - kafka-data:/var/lib/kafka/data
      - kafka-logs:/var/log/kafka
    networks:
      - nexora-network

  redis:
    image: redis:7.2.7-alpine
    container_name: redis
    restart: always
    command: [ "redis-server", "--appendonly", "yes", "--loglevel", "notice" ]
    volumes:
      - redis-data:/data
    networks:
      - nexora-network

  mongo:
    image: mongo:4.4.18
    container_name: mongo
    restart: always
    ports:
      - ${MONGO_PORT}:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    command: [ "mongod", "--logpath", "/var/log/mongodb/mongod.log", "--logappend" ]
    volumes:
      - mongo-data:/data/db
      - mongo-logs:/var/log/mongodb
    networks:
      - nexora-network

  emqx:
    image: emqx/emqx:5.10.0
    container_name: emqx
    restart: always
    ports:
      - "1883:1883"      # MQTT
      - "8883:8883"      # MQTTS
      - "8081:8081"      # HTTP API
      - "8083:8083"      # WS
      - "8084:8084"      # WSS
      - "18083:18083"    # Dashboard
    volumes:
      - ./emqx:/opt/emqx/data
      - ./emqx/data/configs/cluster.hocon:/opt/emqx/data/configs/cluster.hocon
      - emqx-logs:/opt/emqx/log
    networks:
      - nexora-network

  nexora-backend:
    image: shiviraj/nexora-backend:${ENV}
    container_name: nexora-backend
    restart: always
    environment:
      MONGODB_URL: mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@mongo:27017/nexora?authSource=admin
      REDIS_HOST: redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_BROKERS: kafka:9092
      OPA_BASE_URL: http://opa:8181
      INTERNAL_ACCESS_TOKEN: internalAccessToken123
    depends_on:
      - redis
      - mongo
      - kafka
    networks:
      - nexora-network

  nexora-bff:
    image: shiviraj/nexora-bff:${ENV}
    container_name: nexora-bff
    restart: always
    environment:
      APPLICATION_NAME: nexora-bff
      KAFKA_URL: kafka:9092
      AUTOMATION_SERVICE_BASE_URL: http://nexora-backend:9001
      IAM_SERVICE_BASE_URL: http://nexora-backend:9001
      DEVICE_SERVICE_BASE_URL: http://nexora-backend:9001
      AUTH_SERVICE_BASE_URL: http://nexora-backend:9001
      FEED_SERVICE_BASE_URL: http://nexora-backend:9001
      PREMISES_SERVICE_BASE_URL: http://nexora-backend:9001
      WIDGET_SERVICE_BASE_URL: http://nexora-backend:9001
      ZONE_SERVICE_BASE_URL: http://nexora-backend:9001
    depends_on:
      - nexora-backend
      - kafka
      - redis
    networks:
      - nexora-network

  mqtt-handler:
    image: shiviraj/nexora-mqtt-handler:${ENV}
    container_name: mqtt-handler
    restart: always
    environment:
      REDIS_URL: redis://redis:6379
      IAM_SERVICE_BASE_URL: http://nexora-backend:9001
      DEVICE_SERVICE_BASE_URL: http://nexora-backend:9001
      AUTH_SERVICE_BASE_URL: http://nexora-backend:9001
    depends_on:
      - nexora-backend
      - redis
      - kafka
    networks:
      - nexora-network

  nexora-ui:
    image: shiviraj/nexora-ui:${ENV}
    container_name: nexora-ui
    restart: always
    depends_on:
      - nexora-bff
    networks:
      - nexora-network

  nginx:
    image: nginx:stable-perl
    container_name: nexora-nginx
    restart: always
    depends_on:
      - nexora-ui
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - ${NGINX_PORT}:5000
    networks:
      - nexora-network

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60 --cleanup

volumes:
  redis-data:
  mongo-data:
  mongo-logs:
  kafka-data:
  kafka-logs:
  emqx-data:
  emqx-logs:

networks:
  nexora-network:
    driver: bridge