services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    #    ports:
    #      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_SYNC_LIMIT: 2
    networks:
      - nexora-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
#    ports:
#      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      #      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - nexora-network

  redis:
    image: redis:7.2.7-alpine
    container_name: redis
#    ports:
#      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis-data:/data
    networks:
      - nexora-network


  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_ROOT_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_ROOT_PASSWORD
    volumes:
      - mongo-data:/data/db
    networks:
      - nexora-network

  emqx:
    image: emqx/emqx:5.10.0
    container_name: emqx
    ports:
      - "1883:1883"      # MQTT
      - "8883:8883"      # MQTTS
      - "8081:8081"      # HTTP API
      - "8083:8083"      # WS
      - "8084:8084"      # WSS
      - "18083:18083"    # Dashboard
    volumes:
      - ./emqx:/opt/emqx/data
      - ./emqx/data/configs/cluster.hocon:/opt/emqx/data/configs/cluster.hocon
    networks:
      - nexora-network

  nexora-backend:
    image: shiviraj/nexora-backend:latest
    container_name: nexora-backend
    restart: always
#    ports:
#      - "9001:9001"
    environment:
      MONGODB_URL: mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@mongo:27017/nexora?authSource=admin
      REDIS_HOST: redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_BROKERS: kafka:9092
      OPA_BASE_URL: http://opa:8181
      INTERNAL_ACCESS_TOKEN: internalAccessToken123
    depends_on:
      - redis
      - mongo
      - kafka
    networks:
      - nexora-network

  nexora-bff:
    image: shiviraj/nexora-bff:latest
    container_name: nexora-bff
    restart: always
#    ports:
#      - "3001:3001"
    environment:
      APPLICATION_NAME: nexora-bff
      KAFKA_URL: kafka:9092
      AUTOMATION_SERVICE_BASE_URL: http://nexora-backend:9001
      IAM_SERVICE_BASE_URL: http://nexora-backend:9001
      DEVICE_SERVICE_BASE_URL: http://nexora-backend:9001
      AUTH_SERVICE_BASE_URL: http://nexora-backend:9001
      FEED_SERVICE_BASE_URL: http://nexora-backend:9001
      PREMISES_SERVICE_BASE_URL: http://nexora-backend:9001
      WIDGET_SERVICE_BASE_URL: http://nexora-backend:9001
      ZONE_SERVICE_BASE_URL: http://nexora-backend:9001
    depends_on:
      - nexora-backend
    networks:
      - nexora-network

  mqtt-handler:
    image: shiviraj/mqtt-handler:latest
    container_name: mqtt-handler
    restart: always
#    ports:
#      - "3002:3002"
    environment:
      REDIS_URL: redis://redis:6379
      IAM_SERVICE_BASE_URL: http://nexora-backend:9001
      DEVICE_SERVICE_BASE_URL: http://nexora-backend:9001
      AUTH_SERVICE_BASE_URL: http://nexora-backend:9001
    depends_on:
      - nexora-backend
    networks:
      - nexora-network

  nexora-ui:
    image: shiviraj/nexora-ui:latest
    container_name: nexora-ui
    restart: always
#    ports:
#      - "3000:3000"
    #    depends_on:
    #      - nexora-bff
    networks:
      - nexora-network

  nginx:
    image: nginx:stable-perl
    container_name: nexora-nginx
    restart: unless-stopped
    depends_on:
      - nexora-ui
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "5000:5000"
    networks:
      - nexora-network

volumes:
  redis-data:
  mongo-data:
  kafka-data:
  emqx-data:

networks:
  nexora-network:
    driver: bridge